[Unit]
Description=NGiNX Container
Requires=docker.service
Requires=###NAMESPACE###-php-fpm.service
After=###NAMESPACE###-php-fpm.service

[Service]
EnvironmentFile=/etc/systemd/system/###NAMESPACE###-nginx.service.d/EnvironmentFile
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/local/bin/docker-stoprm ###NAMESPACE###-nginx
ExecStartPre=/usr/bin/docker run    --name ###NAMESPACE###-nginx \
				    $VOLUMESFROM \
				    $LINKSTO \
                                    -p ###HTTPPORT###:80 \
                                    -p ###HTTPSPORT###:443 \
                                    -d \
                                    ###DOCKERNAMESPACE###/nginx
ExecStart=/usr/bin/docker attach ###NAMESPACE###-nginx
ExecStop=/usr/local/bin/docker-stoprm ###NAMESPACE###-nginx

[Install]
WantedBy=multi-user.target
